%h3 Pricing*
%h4 Subscriptions
%p Purchase any of our subscription services, and receive a free introductory 'Parent Pack' containing scissors, glue, an introductory booklet and a special Play Portfolio to keep photos and records of your child's Little Hoshi adventures.
%ul
	%li Twelve Month Advance Purchase: £99 (two free boxes).
	%li Six Month Advance Purchase: £49 (one free box)
	%li Recurring Monthly Payment: £9.99 per month
%h4 One-Off Purchases.
%ul
	%li Single Box: £9.99
	%li Gift Package (Three boxes): £24.99
%h4 Postage and Packaging
%ul
	%li Mainland UK: £3.00 per box
%p *All prices exclude postage