%h3 About The Boxes
%p 
	Each month, we produce a range of activities suitable for 4 to 8 year olds, based around a central theme.
	In designing the boxes, we draw on our experience as educational practitioners in order to ensure variety 
	in both the nature of the tasks, and in the skills, understandings and competencies that they nurture. 
	This might typically include craft activities which not only develop obvious capacities such as creativity, 
	spatial awareness, shape and colour - but also number and sequence, science, understanding of 	environment,
	literacies and emotional intelligence. 
%p	
	We design our Hoshi Box so that adults can work with their children. In each box, we provide guides for completing
	the activities, and an explanation of its educational value. We also provide suggestions of things that the 
	grown-up can do to continue the exploration beyond that particular box. 
	
%h3 About Us
%p 
	%b Helen Davenport
	is our creative genius. She has substantial experience of teaching and managing in Early Years settings, 
	in training of Early Years practitioners, and as an internationally published University Lecturer. Helen is
	firmly committed to the value of principles such as learning through play and child-initiated learning, and
	produces ideas for activities for Hoshi Box which realise these ideals.